body{
  background-color:	#F0F0F0;
  color-black;
}
img{
  border-radius: 50px/50px;
  display:inline-block;
  width:100px;
  height:100px;
}
h1{
  display: inline-block;
  font-size: 40px;
}
h5{
  display:inline-block;
  font-weight: bolder;
}
.header{
  background-color: white;
}
input{
  margin-top: 25px;
}
ul li{
  list-style: none;
}
